body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Hiragino Sans',
    'Noto Sans CJK JP',
    'Noto Sans JP',
    'Original Yu Gothic',
    'Yu Gothic',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Sans Emoji',
    ;
  font-feature-settings: 'palt';
}

.icon-pay-career:before {
  content: '';
  background-image: url('../images/pay-career.png');
  display: inline-block;
  width: 1em;
  height: 1em;
  background-size: contain;
  vertical-align: baseline;
}

.icon-qiita:before {
  content: '';
  background-image: url('../images/qiita.png');
  display: inline-block;
  width: 1em;
  height: 1em;
  background-size: contain;
  vertical-align: text-bottom;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }

  .resume-wrapper {
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
  }

  .resume-body > .row {
    display: block; // See https://stackoverflow.com/questions/20408033/how-to-get-page-break-inside-avoid-to-work-nicely-with-flex-wrap-wrap
  }

  section {
    break-inside: avoid;
  }
}
