.icon-qiita:before {
  content: '';
  background-image: url('../images/qiita.png');
  display: inline-block;
  width: 0.875em;
  height: 0.875em;
  background-size: contain;
  vertical-align: bottom;
}
